#flower1 {
  background-image: url(img/flower_1.svg);
  background-size: cover;
  aspect-ratio: 1.05/1;
  position: absolute;

  width: 7%;
}

#flower2 {
  background-image: url(img/flower_2.svg);
  background-size: cover;
  aspect-ratio: 1.05/1;
  position: absolute;
  width: 4%;
}

#flower3 {
  background-image: url(img/flower_3.svg);
  background-size: cover;
  aspect-ratio: 1.05/1;
  position: absolute;
  width: 5%;
}

@media (min-width: 1000px) {
  #flower1 {
    top: 12%;
    left: 20%;
  }

  #flower2 {
    top: 80%;
    left: 68%;
  }

  #flower3 {
    top: 15%;
    left: 70%;
  }
}

@media (max-width: 1000px) {
  #flower1 {
    top: 47%;
    left: 20%;
  }

  #flower2 {
    top: 76%;
    left: 57%;
  }

  #flower3 {
    top: 56%;
    left: 55%;
  }
}

.pulse1 {
  animation-name: pulse1_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse1_kf {
  0% {
    scale: 1 1;
  }
  50% {
    scale: 1.2 1.2;
  }
  100% {
    scale: 1 1;
  }
}

.pulse2 {
  animation-name: pulse2_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse2_kf {
  0% {
    scale: 1.3 1.3;
  }
  50% {
    scale: 1 1;
  }
  100% {
    scale: 1.3 1.3;
  }
}

.drej {
  animation-name: drej_kf;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes drej_kf {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(200deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
