.navbar {
  display: flex;
  font-family: "Urbanist", sans-serif;
  justify-content: center; /* Centrerer indholdet vandret */
  align-items: center; /* Centrerer indholdet lodret */
  margin-right: 2%;
  gap: 20px;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
}

/* CSS for dropdown-menuen */

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
}

/* Styling for "portfolio" knappen */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
}

/* Styling for dropdown-menuens links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #9ed1ab;
  color: white;
  padding: 14px 16px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 8%;
    padding: 2%;
  }

  .navn {
    padding-right: 6%;
  }

  .portraet {
    border-radius: 100px;
  }

  #flower1 {
    top: 12%;
    left: 20%;
  }

  #flower2 {
    top: 80%;
    left: 68%;
  }

  #flower3 {
    top: 15%;
    left: 70%;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }

  .grid_1-2 p {
    margin-right: 10%;
    margin-top: 5%;
  }

  .grid_1-2 img {
    height: 600px;
  }

  .om_mig {
    margin-top: 5%;
    margin-left: 10%;
  }

  .grid_1-2 img {
    border-radius: 100px;
    margin-bottom: 2%;
  }

  .col_1-3 {
    background-color: #f8f8f8;
    margin-left: 3%;
    margin-right: 3%;
    color: #000000;
  }

  .col_1-3 h2 {
    text-align: center;
    margin-top: 2%;
  }
}

@media (max-width: 1000px) {
  .portraet {
    border-radius: 100px;
    max-width: 50%;
    margin-left: 20%;
    margin-top: 5%;
  }

  .grid_1-1 {
    margin-top: 5%;
  }

  .navn {
    padding-top: 4%;
  }

  .grid_1-2 img {
    border-radius: 100px;
  }

  #flower1 {
    top: 50%;
    left: 15%;
  }

  #flower2 {
    top: 75%;
    left: 75%;
  }

  #flower3 {
    top: 60%;
    left: 80%;
  }
}
