@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;0,600;1,500&display=swap");

/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  padding: 5px;
}

body {
  background-color: #eed9c4;
}

li {
  list-style: none;
}

.index {
  background-color: #f2bb94;
  border-radius: 10px;
  padding: 5px 10px;
}

.index_a a {
  background-color: #d8a886;
}

.web_a a {
  background-color: #a7b8d1;
}

.web {
  background-color: #bfd3ef;
  border-radius: 10px;
  padding: 5px 10px;
}

.ux {
  background-color: #c9c4ee;
  border-radius: 10px;
  padding: 5px 10px;
}

.animation {
  background-color: #f7afaf;
  border-radius: 10px;
  padding: 5px 10px;
}

.indhold {
  background-color: #e2b5d4;
  border-radius: 10px;
  padding: 5px 10px;
}

.ommig {
  background-color: #f7afc7;
  border-radius: 10px;
  padding: 5px 10px;
}

main {
  font-family: "Urbanist", sans-serif;
  color: #5b3f23;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  hyphens: auto;
  overflow-wrap: break-word;
}

.overskrift {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}
